@model Cinema.Areas.Admin.Models.CumRapModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;

}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Cụm rạp</p>
                <form asp-action="Edit" id="edit-cumrap">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="TenCum" class="control-label"></label>
                        <input asp-for="TenCum" class="form-control" />
                        <span asp-validation-for="TenCum" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit"  data-sucess="edit-cumrap" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
