@model Cinema.Areas.Admin.Models.PhongModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>PhongModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TenPhong" class="control-label"></label>
                <input asp-for="TenPhong" class="form-control" />
                <span asp-validation-for="TenPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaRap" class="control-label"></label>
                <select asp-for="MaRap" class="form-control" asp-items="ViewBag.MaRap"></select>
                <span asp-validation-for="MaRap" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
<<<<<<< HEAD
</div>
=======
</div>*@


    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Phòng</h2>
                    <p class="card-description">
                        Sửa thông tin phòng
                    </p>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="TenPhong" class="control-label">Tên phòng</label>
                            <input asp-for="TenPhong" class="form-control" />
                            <span asp-validation-for="TenPhong" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaRap" class="control-label"></label>
                            <select asp-for="MaRap" class="form-control" asp-items="@(new SelectList(ViewBag.ListRap,"Id","TenRap"))"></select>
                            <span asp-validation-for="MaRap" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="TrangThai" class="control-label"></label>
                            <input asp-for="TrangThai" class="form-control" />
                            <span asp-validation-for="TrangThai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right:10px">Huỷ</button>
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
   

>>>>>>> a93618663ad04386784ec38de2f51447886a3fba

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
