@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Basic Page Needs -->
<meta charset="utf-8">

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<link rel="stylesheet" href="~/template_admin/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/template_admin/vendors/base/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="~/template_admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="~/template_admin/css/style.css">
<link rel="stylesheet" href="~/template_admin/fontawesome/css/all.css">

<!-- endinject -->
<link rel="shortcut icon" href="~/template_admin/images/favicon.png" />
<link href="~/template_admin/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


<title>@ViewBag.Title</title>
