<!DOCTYPE html>

<html>
<head>

    @await Html.PartialAsync("_HeadPartial.cshtml")
    @RenderSection("css", required: false)
    

</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("_NavbarPartial.cshtml")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("_SidebarPartial.cshtml")
            <div class="main-panel">
                @RenderBody()

            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@*Tiêu đề chức năng*@</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>

                </div>
            </div>
        </div>
    </div>
   
        @await Html.PartialAsync("_FooterPartial.cshtml")
        @await Html.PartialAsync("_ScriptPartial.cshtml")
        @RenderSection("Scripts", required: false)

</body>
</html>
