@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Trang chủ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#movie-basic" aria-expanded="false" aria-controls="movie-basic">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Phim</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="movie-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-controller="Phim" asp-action="Index">Phim</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-controller="LoaiPhim" asp-action="Index">Loại phim</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Suất chiếu</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#cinema-basic" aria-expanded="false" aria-controls="cinema-basic">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Rạp phim</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="cinema-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Cụm rạp</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Rạp</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Phòng</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Hàng ghế</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Ghế</a></li>


                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#account-basic" aria-expanded="false" aria-controls="account-basic">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Tài khoản</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="account-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Admin</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Thành viên</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Vé</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Hoá đơn</span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Form elements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Charts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Tables</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Icons</span>
            </a>
        </li>*@


    </ul>
</nav>
