<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#0" class="scrollToTop">
    <i class="fas fa-angle-up"></i>
</a>
<!-- ==========Overlay========== -->
<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="index.html">
                    <img src="~/template_user/assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li>
                    <a href="#0">Phim</a>
                    <ul class="submenu">
                        <li>
                            <a asp-controller="Movie" asp-action="MovieList_NowPlaying">Phim đang chiếu</a>
                        </li>
                        <li>
                            <a asp-controller="Movie" asp-action="MovieList_CommingSoon">Phim sắp chiếu</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a asp-controller="Cinema" asp-action="Cinema_List">Rạp phim</a>
                </li>
                <li>
                    <a href="#0">Thành viên</a>
                    <ul class="submenu">
                        <li>
                            <a asp-controller="Home" asp-action="SignIn">Đăng nhập</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="SignUp">Đăng ký</a>
                        </li>

                    </ul>
                </li>




                <li class="header-button pr-0">
                    <a asp-controller="Home" asp-action="SignIn">Đăng nhập</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>