@model Cinema.Areas.Admin.Models.RapPhimModel
@section css {


}
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <h3 class="title" style="text-align:center">Boleto Vincom Center Landmark 81</h3>
        <br />
        <br />
        <br />
        <img width="600px" src="~/img/pic_cinema/@Html.DisplayFor(model => model.HinhAnh)">

        <br />
        <br />
        <i class="fas fa-map-marker-alt"><span class="content">@Html.DisplayFor(model => model.DiaChi)</span></i>
        <h3><a asp-controller="Cinema" asp-action="Cinema_Map">Đường đến rạp phim</a> </h3>

    </div>

</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}

