@model Cinema.Areas.Admin.Models.ThanhVienModel

<section class="account-section bg_img" >
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">Chào mừng bạn trở lại với</span>
                    <h2 class="title">Boleto Cinema</h2>
                </div>
                <form class="account-form">
                    <div class="form-group">
                        <label for="tel">Số điện thoại<span>*</span></label>
                        <input type="tel" placeholder="Nhập Số điện thoại " asp-for="SDT" id="phonenumber" required>
                    </div>
                    <div class="form-group">
                        <label for="pass3">Password<span>*</span></label>
                        <input type="password" placeholder="Nhập Password" asp-for="MatKhau" id="pass3" required>
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal2" required checked>
                        <label for="bal2">Nhớ mật khẩu</label>
                        <a href="#0" class="forget-pass">Quên mật khẩu?</a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" asp-action="SignIn" value="Đăng nhập">
                    </div>
                </form>
                <div class="option">
                    Bạn không có tài khoản? <a asp-controller="Home" asp-action="SignUp">Đăng kí ngay!</a>
                </div>
                
        </div>
    </div>
        </div>
</section>