<section class="account-section bg_img">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">Đăng ký thành viên</span>
                    <h2 class="title">Boleto Cinema </h2>
                </div>
                <form class="account-form">
                    <div class="form-group">
                        <label for="name">Họ và tên<span>*</span></label>
                        <input type="text" placeholder="Nhập họ và tên" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Ngày sinh<span>*</span></label>
                        <div class="col-12">
                            <input type="date" value="2020-11-26" id="birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex">Giới tính<span>*</span></label>
                        <select  id="sex" style=" background-color: #001232">
                            <option>Nam</option>
                            <option>Nữ</option>
                          
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="email1">Email<span>*</span></label>
                        <input type="text" placeholder="Nhập Email" id="email1" required>
                    </div>
                    <div class="form-group">
                        <label for="pass1">Password<span>*</span></label>
                        <input type="password" placeholder="Nhập Password" id="pass1" required>
                    </div>
                    <div class="form-group">
                        <label for="pass2">Xác nhận Password<span>*</span></label>
                        <input type="password" placeholder="Nhập lại Password" id="pass2" required>
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal" required checked>
                        <label for="bal">Tôi đồng ý <a href="#0">Điều khoản</a> và <a href="#0">Dịch vụ</a></label>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Đăng ký">
                    </div>
                </form>
                <div class="option">
                    Bạn đã có tài khoản? <a asp-controller="Home" asp-action="SignIn">Đăng nhập</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
