<section class="details-banner hero-area bg_img seat-plan-banner">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two">
                <h3 class="title">Venus</h3>
                <div class="tags">
                    <a href="#0">City Walk</a>
                    <a href="#0">English - 2D</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<section class="page-title bg-one">
    <div class="container">
        <div class="page-title-area">
            <div class="item md-order-1">
                <a asp-controller="Ticket" asp-action="BookStep_1" class="custom-button back-button">
                    <i class="flaticon-double-right-arrows-angles"></i>Quay lại
                </a>
            </div>


        </div>
    </div>
</section>
<!-- ==========Page-Title========== -->
<!-- ==========Movie-Section========== -->
<div class="seat-plan-section padding-bottom padding-top">
    <div class="container">
        <div class="screen-area">
            <h4 class="screen">screen</h4>
            <div class="screen-thumb">
                <img src="~/template_user/assets/images/movie/screen-thumb.png" alt="movie">
            </div>
            <h5 class="subtitle">silver plus</h5>
            <div class="screen-wrapper">
                <ul class="seat-area couple">
                    <li class="seat-line">
                        <span>A</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A1</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A2</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A3</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A4</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A5</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A6</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A7</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A8</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A8</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A10</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A11</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">A12</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>A</span>
                    </li>
                    <li class="seat-line">
                        <span>B</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B1</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B2</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B3</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B4</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B5</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B6</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B7</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B8</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B9</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B10</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B11</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">B12</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>B</span>
                    </li>
                    <li class="seat-line">
                        <span>C</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C1</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C2</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C3</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C4</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C5</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C6</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C7</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C8</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C9</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C10</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C11</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">C12</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>C</span>
                    </li>
                    <li class="seat-line">
                        <span>D</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D1</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D2</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D3</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D4</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D5</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D6</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D7</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D8</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D9</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D10</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D11</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">D12</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>D</span>
                    </li>
                    <li class="seat-line">
                        <span>E</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E1</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E2</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E3</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E4</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E5</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E6</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E7</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E8</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E9</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E10</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E11</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">E12</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>E</span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="proceed-book bg_img">
            <div class="proceed-to-book">
                <div class="book-item">
                    <span>Bạn đã chọn ghế:</span>
                    <h3 class="title">d9, d10</h3>
                </div>
                <div class="book-item">
                    <span>total price</span>
                    <h3 class="title">$150</h3>
                </div>
                <div class="book-item">
                    <a asp-controller="Ticket" asp-action="BookStep_Final" class="custom-button">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>