
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <div class="row align-items-center mb--20">
            <div class="col-lg-6 mb-20">
                <div class="search-ticket-header">
                    <h6 class="category">Boleto Cinemas </h6>
                    <h3 class="title">Tìm kiếm rạp phim</h3>
                </div>
            </div>
            <div class="col-lg-6 mb-20">
                <form class="ticket-search-form">
                    
                    <div class="form-group">
                        <div class="thumb">
                            <img src="~/template_user/assets/images/ticket/city.png" alt="ticket">
                        </div>
                        <span class="type">Tỉnh/Thành phố:</span>
                        <select class="select-bar">
                            <option value="london">London</option>
                            <option value="dhaka">dhaka</option>
                            <option value="rosario">rosario</option>
                            <option value="madrid">madrid</option>
                            <option value="koltaka">kolkata</option>
                            <option value="rome">rome</option>
                            <option value="khoksa">khoksa</option>
                        </select>
                    </div>
                   
                   
                </form>
            </div>
            
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h3 class="title">Danh sách rạp phim</h3>
                    <p>Trải nghiệm phòng chiếu đỉnh cao tại</p>
                </div>
              
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="owl-carousel owl-theme tab-slider">
                        @for (int i = 0; i < 9; i++)
                        {
                            <div class="item">
                                <div class="movie-grid">
                                    <div class="movie-thumb c-thumb">
                                        <a asp-controller="Cinema" asp-action="Cinema_Detail">
                                            <img src="~/template_user/assets/images/cinema/blt-landmark.png" alt="cinema">
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title m-0">
                                            <a asp-controller="Cinema" asp-action="Cinema_Detail">Boleto Vincom Center Landmark 81</a>
                                        </h5>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <i class="fas fa-map-marker-alt"><span class="content">Tầng B1 , TTTM Vincom Center Landmark 81, 772 Điện Biên Phủ, P.22, Q. Bình Thạnh, HCM</span></i>
                                                </div>
                                                
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
