@model Cinema.Areas.Admin.Models.LoaiPhimModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Loại phim</h2>
                    <br />

                    <p class="card-description">
                        Sửa
                    </p>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="TenLoai" class="control-label">Tên loại</label>
                            <input asp-for="TenLoai" class="form-control" />
                            <span asp-validation-for="TenLoai" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="TrangThai" class="control-label"></label>
                            <input asp-for="TrangThai" class="form-control" />
                            <span asp-validation-for="TrangThai" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index"><i class="fas fa-home"></i>Quay về danh sách</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
