@model Cinema.Areas.Admin.Models.PhimModel

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div class="container">
<p>Bạn có muốn xóa?</p>


    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
