@model Cinema.Areas.Admin.Models.RapPhimModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}




<div class="row">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">

                <p class="card-description">
                    Sửa thông tin rạp phim
                </p>
                <form asp-action="Edit" enctype="multipart/form-data">
                   
                    <div class="form-group">
                        <label asp-for="TenRap" class="control-label">Tên rạp</label>
                        <input asp-for="TenRap" class="form-control" />
                        <span asp-validation-for="TenRap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="ImageUpload" id="ImageUpload" accept="*.png|*.jpg" class="custom-file-input" onchange="ShowImagePreview(this, document.getElementById('previewImage'))" />
                        <label class="custom-file-label" for="ImageUpload">Chọn ảnh</label>
                    </div>
                    <div class="form-group">
                        <img src="~/template_admin/images/rapphim/@Model.HinhAnh" class="img-thumbnail" id="previewImage" alt="Alternate Text" />
                        <input type="hidden" asp-for="HinhAnh" />
                    </div>
                   
                    <div class="form-group">
                        <select class="custom-select-sm form-control" asp-for="MaCumRap"
                                asp-items="@(new SelectList(ViewBag.ListCumRap,"Id","TenCum"))">
                        </select>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="TrangThai" class="control-label"></label>
                        <input asp-for="TrangThai" class="form-control" value="1" />
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right:10px">Huỷ</button>
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Cụm rạp</h2>
                        <p class="card-description">
                            Sửa
                        </p>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="TenRap" class="control-label">Tên rạp</label>
                                <input asp-for="TenRap" class="form-control" />
                                <span asp-validation-for="TenRap" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                                <input asp-for="DiaChi" class="form-control" />
                                <span asp-validation-for="DiaChi" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                                <input asp-for="HinhAnh" class="form-control" />
                                <span asp-validation-for="HinhAnh" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MaCumRap" class="control-label">Cụm rạp</label>
                                <select asp-for="MaCumRap" class="form-control" asp-items="ViewBag.MaCumRap"></select>
                                <span asp-validation-for="MaCumRap" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="TrangThai" class="control-label"></label>
                                <input asp-for="TrangThai" class="form-control"/>
                                <span asp-validation-for="TrangThai" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Lưu" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>*@


