<section class="details-banner hero-area bg_img seat-plan-banner">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two">
                <h3 class="title">Venus</h3>
                <div class="tags">
                    <a href="#0">City Walk</a>
                    <a href="#0">English - 2D</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Page-Title========== -->
<section class="page-title bg-one">
    <div class="container">
        <div class="page-title-area">
            <div class="item md-order-1">
                <a asp-controller="Ticket" asp-action="BookStep_1" class="custom-button back-button">
                    <i class="flaticon-double-right-arrows-angles"></i>Quay lại
                </a>
            </div>
            
         
        </div>
    </div>
</section>
<!-- ==========Page-Title========== -->
<!-- ==========Movie-Section========== -->
<div class="seat-plan-section padding-bottom padding-top">
    <div class="container">
        <div class="screen-area">
            <h4 class="screen">screen</h4>
            <div class="screen-thumb">
                <img src="~/template_user/assets/images/movie/screen-thumb.png" alt="movie">
            </div>
            <h5 class="subtitle">silver plus</h5>
            <div class="screen-wrapper">
                <ul class="seat-area">
                    <li class="seat-line">
                        <span>G</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>G</span>
                    </li>
                    <li class="seat-line">
                        <span>f</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">f7</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">f8</span>
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">f9</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">f10</span>
                                    </li>
                                    <li class="single-seat seat-free">
                                        <img src="~/template_user/assets/images/movie/seat01-free.png" alt="seat">
                                        <span class="sit-num">f11</span>
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>f</span>
                    </li>
                </ul>
            </div>
            <h5 class="subtitle">silver plus</h5>
            <div class="screen-wrapper">
                <ul class="seat-area couple">
                    <li class="seat-line">
                        <span>e</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>e</span>
                    </li>
                    <li class="seat-line">
                        <span>d</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>d</span>
                    </li>
                    <li class="seat-line">
                        <span>c</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>c</span>
                    </li>
                    <li class="seat-line">
                        <span>b</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                    <li class="single-seat">
                                        <img src="~/template_user/assets/images/movie/seat01.png" alt="seat">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>b</span>
                    </li>
                    <li class="seat-line">
                        <span>a</span>
                        <ul class="seat--area">
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a1 a2</span>
                                    </li>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a3 a4</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a5 a6</span>
                                    </li>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a7 a8</span>
                                    </li>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a9 a10</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="front-seat">
                                <ul>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a11</span>
                                    </li>
                                    <li class="single-seat seat-free-two">
                                        <img src="~/template_user/assets/images/movie/seat02-free.png" alt="seat">
                                        <span class="sit-num">a12</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span>a</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="proceed-book bg_img" >
            <div class="proceed-to-book">
                <div class="book-item">
                    <span>Bạn đã chọn ghế:</span>
                    <h3 class="title">d9, d10</h3>
                </div>
                <div class="book-item">
                    <span>total price</span>
                    <h3 class="title">$150</h3>
                </div>
                <div class="book-item">
                    <a asp-controller="Ticket" asp-action="BookStep_Final" class="custom-button">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
</div>